.post {
    width: 95%;
    max-width: 370px;
    margin-inline: auto;
    height: auto;
    margin-top: 10px;
}

.post_header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    position: relative;
    background-color: #EBD8F1;
    height: 56px;
}
.post_header img{
    width: 21px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.post_header button{
    display: none;
}

.post_header .delete_btn{
    cursor: pointer;
    position: absolute;
    display: block;
    right: -.89px;
    bottom: -30px;
    color: red;
    background-color: rgba(255, 255, 255, 0.289);
    border: 1px solid #810CA8;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 15px;
}

.avatar{
    display: flex;
    align-items: center;
}

.post_header h4{
    margin-left: 10px;
}

.error_div{
    box-sizing: border-box;
    position: absolute;
    background-color: salmon;
    width: 100%;
    color: red;
    /* bottom: -60%; */
    top: -70%;
    left: 0;
    padding: 5px;
    font-size: 18px;
}

.post_image {
    width: 100%;
}

.post_image img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.func {
    margin-top: -4px;
    background-color: #A4A4A4;
    display: flex;
    align-items: center;
    position: relative;
}

.func,
.user_caption {
    padding: 10px;
}

.user_caption {
    display: flex;
    background-color: #EBD8F1;
}

.user_caption h4 {
    padding-right: 5px;
}

.comments {
    width: 100%;
    background-color: #EBD8F1;
    padding: 5px 10px;
    max-height: 100px;
    overflow-y: scroll;
}

.comments::-webkit-scrollbar {
    width: 7px;

}

.comments::-webkit-scrollbar-track {
    display: none;
}

.comments::-webkit-scrollbar-thumb {
    background: rgb(223, 223, 223);
    border-radius: 10px;
}

.comments b {
    color: rgb(17, 17, 17);
    margin-right: 5px;
}

.comment_input {
    display: flex;
}

.comment_input input {
    flex: 1;
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    font-size: 17px;
    border-bottom: 1px solid #EBD8F1;
    border-left: 1px solid #EBD8F1;
}

.comment_input button {
    padding-left: 7px;
    padding-right: 7px;
    border: none;
    border-left: 1px solid #EBD8F1;
    border-right: 1px solid #EBD8F1;
    border-bottom: 1px solid #EBD8F1;
    background-color: white;
}

.heart {
    background-color: white;
    display: inline-block;
    width: 15px;
    aspect-ratio: 1;
    position: relative;
    transform: rotate(-45deg);
    margin-right: 15px;
    margin-left: 7px;
    margin-top: 5px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: inherit;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
    position: absolute;
  }
  
  .heart:before {
    top: -50%;
    left: 0;
  }
  
  .heart:after {
    left: 50%;
    top: 0;
  }
  .likes{
    padding-right: 10px;
    font-weight: 500;
  }